@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
/* El Font se llama Nabla */

h1 {
  font-family: "Nabla", sans-serif;
}

.intro {
  font-size: xx-large;
  font-style: italic;
}
p {
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}
